{% extends "layout.html" %}
{% block title %}Top Domain{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/top_domain.css">
{% endblock %}

{% block content %}

  <h3 class="heading">List of Top Domains Shared by Users</h3>
  {% for x in domains %}
    <div class="outer_box">
      <div class='inner_box'>{{ x.rank }}</div>
      <div class="card">
        <h6 class="heading">{{ x.domain }}</h6>
        Count : {{ x.domain__count }}
      </div>
    </div>
  {% endfor %}
{% endblock %}
