{% extends "layout.html" %}
{% block title %}Twitter Top Links{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/view_tweets.css">
{% endblock %}

{% block content %}
  <h3 class="heading"> All the Tweets having URLs </h3>
  {% for post in posts %}
    <div class="posts">
      <img class="circle" src="{{ post.user_image }}"> <strong class='heading'>{{ post.user_name }}</strong>
      <div class="fa fa-twitter"></div>
      <br>
      {{ post.text }}
    </div>
  {% endfor %}
{% endblock %}
