{% extends "layout.html" %}
{% block title %}Top User{% endblock %}

{% block content %}
  <style media="screen">
    .card{
      width: 250px;
      padding: 15px;
      border: 3px solid #ccddff;
      margin-top: 20px;
      border-radius: 20px;
      text-align: center;
    }
    .circle{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .heading{
      color: #666666;
      margin-top: 10px;
      padding-bottom: 5px;
    }
  </style>
  <h3 class='heading'>The Twitter User who has shared the most links</h3>
  <div class="card">
    <img class="circle" src="{{ user.user_image }}">
    <h4>{{ user.user_name }}</h4>
    <p><b>Tweet Count: </b>{{ user.user_name__count }}</p>
  </div>
{% endblock %}
