{% extends "layout.html" %}
{% block title %}Twitter Top Links{% endblock %}

{% block content %}
<style media="screen">
  .posts{
    padding: 15px;
    border: 1px solid #55ACEE;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    border-radius: 20px;

  }
  .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 7px;
  }
  .fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa-twitter{
    color: #55ACEE;
    float: right;
  }
  .heading{
    color: #666666;
    margin-top: 10px;
    padding-bottom: 5px;
  }
</style>
  <h3 class="heading"> All the Tweets having URLs </h3>
  {% for post in posts %}
    <div class="posts">
      <img class="circle" src="{{ post.user_image }}"> <strong class='heading'>{{ post.user_name }}</strong>
      <div class="fa fa-twitter"></div>
      <br>
      {{ post.text }}
    </div>
  {% endfor %}
{% endblock %}
